@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-arr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-col {
  flex-direction: column;
}
li.active {
  color: #00ffa7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}
.flex-al-btw {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.purple {
  background-color: #2d46e65d;
}
.light-red {
  background-color: #fc59598e;
}
.green {
  background-color: #2bff8a94;
}
.blue {
  background-color: #00eeff7e;
}
