/* i actually didn't read that this could be made using css frameworks or else this would be more clean than this   */

/* this is a utility file that will contain the utillity classes properties so that the main style.css doesnot fill up display props  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* used in to normalize the default styles of HTML elements across different browsers and ensure consistent layout and typography throughout all the webpage. */

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-arr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-col {
  flex-direction: column;
}
li.active {
  color: #00ffa7;
}


.grid-item {
  padding: 20px;
  text-align: center;
}
.flex-al-btw {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.purple {
  background-color: #2d46e65d;
}
.light-red {
  background-color: #fc59598e;
}
.green {
  background-color: #2bff8a94;
}
.blue {
  background-color: #00eeff7e;
}
